.nav > li > a {
    justify-self: center;
    color: white;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
}

.animated_line{
    height: 10px;
    width: 20px;
    display: block;
    content: " ";
    border-top: 1px solid white;
    position: absolute;

}

.animated{
    transition: all 1s;
}

.invisible{
    visibility: hidden;
}